{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}

{% block scripts %}
    <script src='https://www.google.com/recaptcha/api.js' async defer nonce="{{ session['nonce'] }}"></script>
{% endblock %}

{% block app_content %}

        <div class="row">
            <div class="col col-login mx-auto">
                <div class="card mt-5">
                    <div class="card-body p-6" id="registration_form">
                        {% if site.registration_mode != 'Closed' %}
                            <div class="card-title text-center">{{ _('Create new account') }}</div>
                            {{ render_form(form) }}
                        {% else %}
                            {{ _('Registration is closed. Only admins can create accounts.') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
