{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title text-center">{{ _('Please check your email inbox') }}</div>
                    <br>
                    <hr />
                    <br>
                    <p>{{ _('To keep spam and bots to a managable level, we send every new account an email with a link in it that needs to be clicked to fully enable the account.') }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
