{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <div class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item active">Domains</li>
          </ol>
        </nav>
        {% if search == '' %}
        <h1 class="mt-2">{{ _('All known domains') }}</h1>
        {% else %}
        <h1 class="mt-2">{{ _('Domains containing %(search)s', search=search) }}</h1>
        {% endif %}
        <form method="get"><input type="search" name="search" value="{{ search }}" placeholder="{{ _('Search') }}" autofocus></form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ _('Domain') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for domain in domains %}
                    <tr>
                        <th><a href="{{ url_for('domain.show_domain', domain_id=domain.id) }}">{{ domain.name }}</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Pagination" class="mt-4" role="navigation">
        {% if prev_url %}
            <a href="{{ prev_url }}" class="btn btn-primary" rel="nofollow">
                <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
            </a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}" class="btn btn-primary" rel="nofollow">
                {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
            </a>
        {% endif %}
        </nav>
    </div>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">

    </aside>
</div>
<div class="row">


</div>
{% endblock %}
