SECRET_KEY=
SERVER_NAME='127.0.0.1:5000'
DATABASE_URL=postgresql+psycopg2://pyfedi:pyfedi@127.0.0.1/pyfedi
MAIL_SERVER=''
RECAPTCHA3_PUBLIC_KEY=''
RECAPTCHA3_PRIVATE_KEY=''
MODE='development'
FULL_AP_CONTEXT=True
CACHE_TYPE='FileSystemCache'
CACHE_DIR='/dev/shm/pyfedi'
