<div class="mobile_create_post d-md-none mt-1">
    <a class="btn btn-primary" href="/community/{{ community.link() }}/submit">{{ _('Create post') }}</a>
</div>
<div class="btn-group mt-1 mb-2">
    <a href="?sort=hot" class="btn {{ 'btn-primary' if sort == '' or sort == 'hot' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('Hot') }}
    </a>
    <a href="?sort=top" class="btn {{ 'btn-primary' if sort == 'top' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('Top') }}
    </a>
    <a href="?sort=new" class="btn {{ 'btn-primary' if sort == 'new' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('New') }}
    </a>
    <a href="?sort=active" class="btn {{ 'btn-primary' if sort == 'active' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('Active') }}
    </a>
</div>
{% if post_layout != '' and post_layout is not none %}
<div class="btn-group mt-1 mb-2 layout_switcher">
    <a href="?layout=list" class="btn {{ 'btn-primary' if post_layout == '' or post_layout == 'list' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('List') }}
    </a>
    <a href="?layout=masonry" class="btn {{ 'btn-primary' if post_layout == 'masonry' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('Tile') }}
    </a>
    <a href="?layout=masonry_wide" class="btn {{ 'btn-primary' if post_layout == 'masonry_wide' else 'btn-outline-secondary' }}" rel="nofollow">
        {{ _('Wide tile') }}
    </a>
</div>
{% endif %}