<div class="row">
    {% if post.image_id %}
        <div class="col-8">
            <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
                <li class="breadcrumb-item"><a href="/communities">{{ _('Communities') }}</a></li>
                <li class="breadcrumb-item"><a href="/c/{{ post.community.link() }}">{{ post.community.title }}</a></li>
                <li class="breadcrumb-item active">{{ post.title|shorten(15) }}</li>
              </ol>
            </nav>
            <div class="voting_buttons">
                {% include "community/_post_voting_buttons.html" %}
            </div>
            <h1 class="mt-2">{{ post.title }}</h1>
            {% if post.url %}
                <p><small><a href="{{ post.url }}" rel="nofollow ugc">{{ post.url|shorten_url }}
                <img src="/static/images/external_link_black.svg" class="external_link_icon" alt="External link"  />
                </a></small></p>
            {% endif %}
            <p><small>submitted {{ moment(post.posted_at).fromNow() }} by {{ render_username(post.author) }}
                {% if post.edited_at %} edited {{ moment(post.edited_at).fromNow() }}{% endif %}
            </small></p>
        </div>
        <div class="col-4">
            {% if post.url %}
                <a href="post.url" rel="nofollow ugc"><img src="{{ post.image.source_url }}" alt="{{ post.image.alt_text }}"
                     width="100" /></a>
            {% else %}
                <a href="post.image.source_url"><img src="{{ post.image.source_url }}" alt="{{ post.image.alt_text }}"
                     width="100" /></a>
            {% endif %}
        </div>
    {% else %}
        <div class="col">
            <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
                <li class="breadcrumb-item"><a href="/communities">{{ _('Communities') }}</a></li>
                <li class="breadcrumb-item"><a href="/c/{{ post.community.link() }}">{{ post.community.title }}</a></li>
                <li class="breadcrumb-item active">{{ post.title|shorten(15) }}</li>
              </ol>
            </nav>
            <div class="voting_buttons">
                {% include "community/_post_voting_buttons.html" %}
            </div>
            <h1 class="mt-2">{{ post.title }}</h1>
            {% if post.url %}
                <p><small><a href="{{ post.url }}" rel="nofollow ugc">{{ post.url|shorten_url }}
                <img src="/static/images/external_link_black.svg" class="external_link_icon" alt="External link"  /></a>
                </small></p>
            {% endif %}
            <p class="small">submitted {{ moment(post.posted_at).fromNow() }} by
                {{ render_username(post.author) }}
                {% if post.edited_at %} edited {{ moment(post.edited_at).fromNow() }}{% endif %}
            </p>
        </div>
    {% endif %}
</div>

{% if post.body_html %}
<div class="row post_full">
    <div class="col">
        {{ post.body_html|safe }}
    </div>
</div>
{% endif %}