<div class="upvote_button digits_{{ digits(comment.up_votes) }} {{ upvoted_class }}"
 hx-post="/community/comment/{{ comment.id }}/upvote" hx-trigger="click throttle:1s" hx-target="closest .voting_buttons">
        <span class="fe fe-arrow-up"></span>
        {{ comment.up_votes }}
</div>
<div class="downvote_button digits_{{ digits(comment.down_votes) }} {{ downvoted_class }}"
 hx-post="/community/comment/{{ comment.id }}/downvote" hx-trigger="click throttle:1s" hx-target="closest .voting_buttons">
        <span class="fe fe-arrow-down"></span>
        {{ comment.down_votes }}
</div>