{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <div class="col-12 col-md-8 position-relative main_pane">
        {% if community.header_image() != '' %}
            <div class="community_header" style="background-image: url({{ community.header_image() }});">
                <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
                    <li class="breadcrumb-item"><a href="/communities">{{ _('Communities') }}</a></li>
                    <li class="breadcrumb-item active">{{ community.title|shorten }}</li>
                  </ol>
                </nav>
            </div>
            <img class="community_icon_big bump_up rounded-circle" src="{{ community.icon_image() }}" />
            <h1 class="mt-2">{{ community.title }}
                {% if current_user.is_authenticated %}
                    {% include 'community/_notification_toggle.html' %}
                {% endif %}
            </h1>
        {% elif community.icon_id %}
            <div class="row">
                <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
                    <li class="breadcrumb-item"><a href="/communities">{{ _('Communities') }}</a></li>
                    <li class="breadcrumb-item active">{{ community.title|shorten }}</li>
                  </ol>
                </nav>
                <div class="col-2">
                    <img class="community_icon_big rounded-circle" src="{{ community.icon_image() }}" />
                </div>
                <div class="col-10">
                    <h1 class="mt-3">{{ community.title }}
                        {% if current_user.is_authenticated %}
                            {% include 'community/_notification_toggle.html' %}
                        {% endif %}
                    </h1>
                </div>
            </div>
        {% else %}
            <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
                <li class="breadcrumb-item"><a href="/communities">{{ _('Communities') }}</a></li>
                <li class="breadcrumb-item active">{{ community.title|shorten }}</li>
              </ol>
            </nav>
            <h1 class="mt-2">{{ community.title }}
                {% if current_user.is_authenticated %}
                    {% include 'community/_notification_toggle.html' %}
                {% endif %}
            </h1>
        {% endif %}
        {% include "community/_community_nav.html" %}
        <div class="post_list">
            {% for post in posts %}
                {% include 'post/_post_teaser.html' %}
            {% else %}
                <p>{{ _('No posts in this community yet.') }}</p>
            {% endfor %}
        </div>

        <nav aria-label="Pagination" class="mt-4">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </div>

    <div class="col-12 col-md-4 side_pane">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/submit">{{ _('Create a post') }}</a>
                    </div>
                    <div class="col-6">
                        {% if current_user.is_authenticated and community_membership(current_user, community) == SUBSCRIPTION_MEMBER %}
                            <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/unsubscribe">{{ _('Leave') }}</a>
                        {% elif current_user.is_authenticated and community_membership(current_user, community) == SUBSCRIPTION_PENDING %}
                            <a class="w-100 btn btn-outline-secondary" href="/community/{{ community.link() }}/unsubscribe">{{ _('Pending') }}</a>
                        {% else %}
                            <a class="w-100 btn btn-primary" href="/community/{{ community.link() }}/subscribe">{{ _('Join') }}</a>
                        {% endif %}
                    </div>
                </div>
                <form method="get">
                    <input type="search" name="search" class="form-control mt-2" placeholder="{{ _('Search this community') }}" />
                </form>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('About community') }}</h2>
            </div>
            <div class="card-body">
                <p>{{ community.description_html|safe if community.description_html else '' }}</p>
                <p>{{ community.rules_html|safe if community.rules_html else '' }}</p>
                {% if len(mods) > 0 and not community.private_mods %}
                    <h3>Moderators</h3>
                    <ul class="moderator_list">
                        {% for mod in mods %}
                            <li>{{ render_username(mod) }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if not community.is_local() %}
                    <p>
                       <a href="{{ community.profile_id() }}">View community on original server</a>
                    </p>
                {% endif %}
                <p>
                    <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> </a><a href="{{ rss_feed }}" rel="nofollow">RSS feed</a>
                </p>
            </div>
        </div>
        {% if is_moderator or is_admin %}
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('Community Settings') }}</h2>
            </div>
            <div class="card-body">
                <p><a href="#" class="btn btn-primary">{{ _('Moderate') }}</a></p>
                <p><a href="#" class="btn btn-primary">{{ _('Settings') }}</a></p>
                {% if community.is_owner() or current_user.is_admin() %}
                    <p><a class="btn btn-primary btn-warning" href="{{ url_for('community.community_delete', community_id=community.id) }}" rel="nofollow">Delete community</a></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">


</div>
{% endblock %}
