/* This file contains SCSS used for creating the general structure of pages. Selectors should be things like body, h1,
nav, etc which are used site-wide */
@import "scss/colours";
@import "scss/mixins";
@import "scss/typography";
@import "scss/controls";

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  max-width: inherit;
  @include breakpoint(phablet) {

  }
  @include breakpoint(tablet) {
    max-width: 960px;
  }
  @include breakpoint(laptop) {
    max-width: 1200px;
  }
  @include breakpoint(desktop) {
    max-width: 1550px;
  }
  @include breakpoint(bigbig) {
    max-width: 1880px;
  }
}

.skip-link {
    position: absolute;
    top: -40px; /* Adjust as needed to hide the link off-screen */
    left: 0;
    background-color: #fff; /* Background color to cover the link for screen readers */
    z-index: 999; /* Ensure it's above other content */
}

.skip-link:focus {
    top: 0; /* Bring the link back into view when it receives focus */
}

.form-group {
  margin-bottom: 1.1rem;
}

.card {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#breadcrumb_nav {
  font-size: 87%;
}

@include breakpoint(tablet) {
  #breadcrumb_nav {
      display: block;
      font-size: 87%;

      .breadcrumb {
          padding: 0;
          margin-bottom: 0;
          background-color: inherit;

          .breadcrumb-item + .breadcrumb-item::before {
              content: ">";
          }
      }
  }
}

.community_header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  height: 176px;

  @include breakpoint(tablet) {
    height: 240px;
  }

  #breadcrumb_nav {
    @include breakpoint(tablet) {
      padding-left: 20px;
      padding-top: 13px;
    }
    .breadcrumb {
      background-color: rgba(0,0,0,0.2);
      display: inline-block;
      padding: 5px 10px;
      border-radius: 6px;
      margin-bottom: 0;

      .breadcrumb-item {
        color: white;
        display: inline-block;
        a {
          color: white;
        }
      }

      .breadcrumb-item + .breadcrumb-item::before {
          content: ">";
         color: white;
      }
    }
  }
}

.community_header_no_background, .community_header {
  .community_icon {
    width: 120px;
    height: auto;
  }
}

.post_reply_form {
  label {
    display: none;
  }

  .form-check {
    position: absolute;
    bottom: -14px;
    left: 122px;

    label {
      display: inherit;
    }
  }
}

.add_reply {
  .form-control-label {
    display: none;
  }

  .form-check {
    position: absolute;
    bottom: -14px;
    left: 122px;
  }
}

.post_list {
  .post_teaser {

    h3 {
      font-size: 120%;
      margin-top: 4px;
      margin-bottom: 0;
    }

    .meta_row, .main_row, .utilities_row {
      a {
        text-decoration: none;
      }
    }

    .thumbnail {
      float: right;
      padding-left: 0;
      padding-right: 0;

      img {
        height: 60px;
        width: 60px;
        border-radius: 5px;
        object-fit: cover;
        margin-left: 5px;
        @include breakpoint(tablet) {
          height: 70px;
          width: 133px;

        }
      }
    }

    border-bottom: solid 2px $light-grey;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.url_thumbnail {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
}

.post_image {
  img {
    max-width: 100%;
  }
}

.render_username {
  display: inline;
  a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: bottom;
  }
}

.comments > .comment {
  margin-left: 0;
  border-top: solid 1px $grey;
  margin-right: 8px;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }
}

#replies {
  scroll-margin-top: 5em;
}

.post_replies > .col {
  padding-right: 5px;
}

.post_type_image {
  .post_image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.voting_buttons {
  float: right;
  display: block;
  width: 55px;
  padding: 0 0 5px 5px;
  line-height: 30px;
  font-size: 14px;

  @include breakpoint(laptop) {
    line-height: 25px;
  }

  div {
    border: solid 1px $primary-colour;
  }

  .upvote_button, .downvote_button {
    padding-left: 3px;
    border-radius: 3px;
    cursor: pointer;

    &.digits_4 {
      width: 68px;
    }

    &.digits_5 {
      width: 76px;
    }

    &.digits_6 {
      width: 84px;
    }

    &.voted_up {
      color: green;
      font-weight: bold;
    }
    &.voted_down {
      color: darkred;
      font-weight: bold;
    }
  }

  .downvote_button {
    margin-top: 5px;
  }

  a {
    text-decoration: none;
  }
}

.comment {
  clear: both;
  margin-bottom: 20px;
  margin-left: 15px;
  padding-top: 8px;

  .limit_height {
    position: relative;

    &.expanded {
      max-height: none;

      .show-more {
        display: none;
      }
    }
  }

  .show-more {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: $dark-grey;
    color: white;
    margin-bottom: 15px;
  }

  .comment_author {
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      vertical-align: bottom;
    }
  }

  .hide_button {
    float: right;
    display: block;
    width: 68px;
    padding: 5px;

    a {
      text-decoration: none;
    }
  }

  .comment_actions {
    margin-top: -10px;
    a {
      text-decoration: none;
    }
  }

  .replies {
    margin-top: 15px;
    border-left: solid 1px $light-grey;
    border-top: solid 1px $light-grey;
  }
}

#add_local_community_form {
  #url {
    width: 297px;
    display: inline-block;
    padding-left: 3px;
  }
}

#reasons {
  border: none;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 230px;
}

.table {
  tr th {
    vertical-align: middle;
  }
}

.show_menu {
  display: block!important;
}