/* This file contains SCSS used for creating the general structure of pages. Selectors should be things like body, h1,
nav, etc which are used site-wide */
@import "scss/colours";
@import "scss/mixins";
@import "scss/typography";
@import "scss/controls";

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  max-width: inherit;
  @include breakpoint(phablet) {

  }
  @include breakpoint(tablet) {
    max-width: 960px;
  }
  @include breakpoint(laptop) {
    max-width: 1200px;
  }
  @include breakpoint(desktop) {
    max-width: 1550px;
  }
  @include breakpoint(bigbig) {
    max-width: 1880px;
  }
}

.skip-link {
    position: absolute;
    top: -40px; /* Adjust as needed to hide the link off-screen */
    left: 0;
    background-color: #fff; /* Background color to cover the link for screen readers */
    z-index: 999; /* Ensure it's above other content */
}

.skip-link:focus {
    top: 0; /* Bring the link back into view when it receives focus */
}

.form-group {
  margin-bottom: 1.1rem;
}

.card {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#breadcrumb_nav {
  display: none;
}

@include breakpoint(tablet) {
  #breadcrumb_nav {
      display: block;
      font-size: 87%;

      .breadcrumb {
          padding: 0;
          margin-bottom: 0;
          background-color: inherit;

          .breadcrumb-item + .breadcrumb-item::before {
              content: ">";
          }
      }
  }
}

.community_header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;

  @include breakpoint(tablet) {
    #breadcrumb_nav {
      padding-left: 20px;
      padding-top: 13px;

      .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background-color: inherit;

        .breadcrumb-item {
          color: white;
          a {
            color: white;
          }
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
           color: white;
        }
      }
    }
  }
}

.community_header_no_background, .community_header {
  .community_icon {
    width: 120px;
    height: auto;
  }
}

.post_list {
  .post_teaser {

    h3 {
      font-size: 120%;
      margin-top: 8px;

      a {
        text-decoration: none;
      }
    }

    border-bottom: solid 2px $light-grey;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}