/* */
.red {
  color: red;
}

.orangered {
  color: orangered;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 5px !important;
}

.pl-2 {
  padding-left: 10px !important;
}

.pl-3 {
  padding-left: 15px !important;
}

.pl-4 {
  padding-left: 20px !important;
}

/* for more info about the feather font used for icons see https://at-ui.github.io/feather-font/ */
/* use https://fontdrop.info/ to get the unicode values of the featuer.ttf file */
@font-face {
  font-family: "Feather";
  src: url("/static/fonts/feather/feather.ttf?cb") format("truetype"), url("/static/fonts/feather/feather.woff?cb") format("woff"), url("/static/fonts/feather/feather.svg?cb#Feather") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fe {
  font-family: "Feather" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-item .fe {
  padding-right: 5px;
}

.fe-subscription::before {
  content: "\e9b9";
}

.fe-logout::before {
  content: "\e988";
}

.fe-fb::before {
  content: "\e95e";
}

.fe-close::before {
  content: "\ea03";
}

.fe-external::before {
  content: "\e95b";
}

.fe-circle::before {
  content: "\e937";
}

.fe-home::before {
  content: "\e979";
}

.fe-popular::before {
  content: "\e9e6";
}

.fe-all::before {
  content: "\e986";
}

.fe-activity::before {
  content: "\e900";
}

.fe-copy::before {
  content: "\e944";
}

.fe-edit::before {
  content: "\e958";
}

.fe-plus::before {
  content: "\e9b1";
}

.fe-wind::before {
  content: "\ea01";
}

.fe-refresh-cw::before {
  content: "\e9b9";
}

.fe-x-circle::before {
  content: "\ea03";
}

.fe-printer::before {
  content: "\e9b6";
}

.fe-search::before {
  content: "\e9c1";
}

.fe-check::before {
  content: "\e92b";
}

.fe-user::before {
  content: "\e9f1";
}

.fe-heart::before {
  content: "\e977";
}

.fe-message-circle::before {
  content: "\e990";
}

.fe-settings::before {
  content: "\e9c4";
}

.fe-calendar::before {
  content: "\e927";
}

.fe-facebook::before {
  content: "\e95e";
}

.fe-share::before {
  content: "\e9c2";
}

.fe-chevron-up::before {
  content: "\e931";
}

.fe-chevron-down::before {
  content: "\e92e";
}

.fe-feather::before {
  content: "\e960";
}

.fe-mobile::before {
  content: "\e9d2";
}

.fe-loader::before {
  content: "\e986";
}

.fe-sun::before {
  content: "\e9d7";
}

.fe-warning::before {
  content: "\e904";
}

.fe-arrow-up::before {
  content: "\e914";
}

.fe-arrow-down::before {
  content: "\e90c";
}

.fe-reply {
  position: relative;
  top: 1px;
}

.fe-reply::before {
  content: "\e990";
}

.fe-report::before {
  content: "\e967";
}

.fe-angles-down::before {
  content: "\e932";
}

.fe-angles-up::before {
  content: "\e935";
}

.fe-options::before {
  content: "\e99b";
}

.fe-edit::before {
  content: "\e95a";
}

.fe-delete::before {
  content: "\ea03";
}

.fe-mea-culpa::before {
  content: "\e997";
}

.fe-block::before {
  content: "\ea04";
}

.fe-report::before {
  content: "\e967";
}

.fe-bell, .fe-no-bell {
  position: relative;
  top: 1px;
}

.fe-bell::before {
  content: "\e91e";
}

.fe-no-bell::before {
  content: "\e91f";
}

.fe-sun::before {
  content: "\e9d7";
}

.fe-moon::before {
  content: "\e99a";
}

.fe-collapse::before {
  content: "\e995";
}

.fe-expand::before {
  content: "\e98e";
}

h1 .fe-bell, h1 .fe-no-bell {
  font-size: 18px;
  top: -5px;
  left: 17px;
}

.fe-magnify {
  position: relative;
  top: 1px;
}

.fe-magnify::before {
  content: "\ea08";
}

.imageVisible .fe-magnify::before {
  content: "\ea09";
}

.fe-rss::before {
  content: "\e9be";
}

.fe-image {
  position: relative;
  top: 2px;
}
.fe-image:before {
  content: "\e97a";
}

.fe-new-account {
  position: relative;
  top: 1px;
}
.fe-new-account:before {
  content: "\e986";
}

.fe-video {
  position: relative;
  top: 2px;
  left: 1px;
}
.fe-video:before {
  content: "\ea05";
}

.fe-poll {
  position: relative;
  top: 2px;
  left: 1px;
}
.fe-poll:before {
  content: "\e91b";
  /* possibly e985 */
}

a.no-underline {
  text-decoration: none;
}
a.no-underline:hover {
  text-decoration: none;
}

.small, small {
  font-size: 87%;
}

fieldset legend {
  font-size: inherit;
}

.form-check-input {
  margin-top: 0;
}

.form-group {
  display: block;
}
.form-group .text-nowrap input[type=number], .form-group .form-check-inline input[type=number], .form-group .fix-radio-align input[type=number] {
  vertical-align: inherit;
}

.form-control-label {
  display: block;
  margin-bottom: 0.375rem;
  font-weight: 600;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1991eb;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.btn-secondary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.table-striped tbody tr .current_sort,
.table-striped thead th.current_sort {
  background-color: #f0f0f2;
}

.table-striped tbody tr:nth-of-type(2n+1) .current_sort {
  background-color: #d8e5ee;
}

body {
  font-size: 0.95rem;
}

a {
  text-decoration: none;
  border: solid 2px transparent;
}

#outer_container a:not(.btn):hover, footer a:not(.btn):hover {
  text-decoration: underline;
}
#outer_container a:not(.btn):active, footer a:not(.btn):active {
  border: dotted 2px #0A5CA0;
}

div.navbar {
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  min-height: 60px;
}

.navbar-brand img {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
  outline-style: none;
}

.navbar-toggler {
  border: none;
  height: 48px;
  margin-top: 5px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(/static/images/menu.svg);
  width: 35px;
  height: 40px;
  background-position: top;
}

.dropdown.active {
  background-color: #0071CE;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  opacity: 0.9;
}

.tab-content > .tab-pane {
  border-right: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  border-radius: 0 0 5px 5px;
  padding: 10px 15px 0 15px;
}

.dropdown-menu .dropdown-item.active {
  background-color: #0071CE;
}

#outer_container {
  margin-top: -4px;
}
@media (min-width: 992px) {
  #outer_container {
    margin-top: 1rem;
    padding-top: 0.25rem;
  }
}

.card-title {
  font-size: 140%;
}

.card-header h2 {
  margin-bottom: 5px;
}

.alert-info, .alert-message, .alert-error {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
@media (min-width: 992px) {
  .alert-info, .alert-message, .alert-error {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.alert-error {
  color: #722047;
  background-color: #f8d7da;
}

.main_pane {
  border: solid 1px #ddd;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 12px;
}
.main_pane .url_thumbnail {
  width: 120px;
  height: auto;
}
.main_pane .url_thumbnail img {
  width: 100%;
  height: auto;
}

[data-bs-theme=dark] .main_pane {
  border-color: #424549;
}

.community_icon {
  width: 20vw;
  height: 20vw;
  max-width: 30px;
  max-height: 30px;
  min-width: 20px;
  min-height: 20px;
  vertical-align: text-top;
}

.list-group-item .community_icon {
  vertical-align: middle;
}

.community_icon_big {
  width: 20vw;
  height: 20vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
}

.bump_up {
  position: absolute;
  top: 115px;
  left: 26px;
}

.external_link_icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-bottom: 3px;
}

.coolfieldset, .coolfieldset.expanded {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 20px;
}

.coolfieldset.collapsed {
  border: 0;
  border-top: 1px solid #bbb;
  border-radius: 0;
}

.coolfieldset legend {
  padding-left: 13px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  display: block;
  position: relative;
  top: -11px;
}

.coolfieldset legend, .coolfieldset.expanded legend {
  background: whitesmoke url(/static/images/expanded.gif) no-repeat center left;
}

.coolfieldset.collapsed legend {
  background: whitesmoke url(/static/images/collapsed.gif) no-repeat center left;
}

.domain_link {
  color: #777;
  font-size: 73%;
}
.domain_link a {
  color: #777;
}

.low_score .hide_button a, .low_score .comment_author a {
  font-weight: normal;
  color: #777;
}

.communities_table tr td {
  vertical-align: middle;
  padding-top: 6px;
}
.communities_table tr td:first-child {
  padding-top: 8px;
}

.text-right {
  text-align: right;
}

#timeSpent {
  cursor: wait;
}

.option_list {
  list-style-type: none;
  margin-bottom: 0;
}
.option_list li {
  margin-bottom: 15px;
}

.field_hint {
  margin-top: -15px;
  display: block;
  margin-bottom: 10px;
}

.post_options_link {
  display: block;
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 41px;
  text-decoration: none;
}

.comment_actions_link {
  display: block;
  position: absolute;
  bottom: 0;
  right: -16px;
  width: 41px;
  text-decoration: none;
}

.alert {
  width: 96%;
}

.reported {
  background-color: antiquewhite;
}

.dropdown-header {
  color: black;
}

.current_post {
  background-color: aliceblue;
}
.current_post .replies {
  background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .current_post {
  background-color: #424549;
}

@media (min-width: 992px) {
  .h1, h1 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .h2, h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .h3, h3 {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
