/* */
@import "scss/colours";
@import "scss/mixins";
@import "scss/typography";
@import "scss/controls";

body {
  font-size: 0.9rem;
  background-color: #fbfdfe;
  color: #495057;
}

nav.navbar {
  background-color: #fff!important;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  min-height: 60px;
}

.navbar-brand {
  img {
    margin-right: 20px;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.8);
  outline-style: none;
}


.navbar-light .navbar-toggler-icon {
  background-image: url(https://www.chorebuster.net/images/menu.svg);
}

.dropdown.active {
    background-color: $primary-colour;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: white;
    opacity: 0.9;
}

.tab-content > .tab-pane {
  border-right: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  border-radius: 0 0 5px 5px;
  padding: 10px 15px 0 15px;
}

.dropdown-menu {
  .dropdown-item.active {
    background-color: $primary-colour;
  }
}

.card-title {
  font-size: 140%;
}

.card-header {
  h2 {
    margin-bottom: 5px;
  }
}

.alert-info, .alert-message, .alert-error {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  @include breakpoint(tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.alert-error {
    color: #722047;
    background-color: #f8d7da;
}

.main_pane {
  border: solid 1px $light-grey;
  border-radius: 5px;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 12px;
}

.community_icon {
  width: 30px;
  height: auto;
}

.community_icon_big {
  width: 120px;
  height: auto;
}

.bump_up {
  position: absolute;
  top: 104px;
  left: 26px;

}

.external_link_icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-bottom: 3px;
}

.coolfieldset, .coolfieldset.expanded{
  border:1px solid $light-grey;
  border-radius: 5px;
  padding: 0 20px;
}

.coolfieldset.collapsed{
  border:0;
  border-top:1px solid $grey;
  border-radius: 0;
}

.coolfieldset legend{
  padding-left:13px;
  font-weight:bold;
  cursor:pointer;
  background-color: white;
  display: block;
  position: relative;
  top: -11px;
}

.coolfieldset legend, .coolfieldset.expanded legend{
	background: whitesmoke url(/static/images/expanded.gif) no-repeat center left;
}

.coolfieldset.collapsed legend{
	background: whitesmoke url(/static/images/collapsed.gif) no-repeat center left;
}

.domain_link {
  color: $grey;
  font-size: 73%;
  a {
    color: $dark-grey;
  }
}

.comment_author {
  a {
    font-weight: bold;
  }
}

.low_score {
  .hide_button, .comment_author {

    a {
      font-weight: normal;
      color: $dark-grey;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark-grey;
  }

  nav.navbar {
    background-color: #eee!important;
  }

  .main_pane, .card {
    background-color: #eee;
  }

}