/* */
@import "scss/colours";
@import "scss/mixins";
@import "scss/typography";
@import "scss/controls";

body {
  font-size: 0.9rem;
  background-color: #fbfdfe;
  color: #495057;
}

nav.navbar {
  background-color: #fff!important;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  min-height: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.8);
  outline-style: none;
}


.navbar-light .navbar-toggler-icon {
  background-image: url(https://www.chorebuster.net/images/menu.svg);
}

.dropdown.active {
    background-color: $primary-colour;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: white;
    opacity: 0.9;
}

.tab-content > .tab-pane {
  border-right: solid 1px #dee2e6;
  border-bottom: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
  border-radius: 0 0 5px 5px;
  padding: 10px 15px 0 15px;
}

.dropdown-menu {
  .dropdown-item.active {
    background-color: $primary-colour;
  }
}

.card-title {
  font-size: 140%;
}

.alert-info, .alert-message, .alert-error {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  @include breakpoint(tablet) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

.alert-error {
    color: #722047;
    background-color: #f8d7da;
}

.community_icon {
  width: 30px;
  height: auto;
}

.community_icon_big {
  width: 120px;
  height: auto;
}

.bump_up {
  position: absolute;
  top: 104px;
  left: 26px;

}

.external_link_icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-bottom: 3px;
}
