<div class="post_teaser">
    <div class="row">
        <div class="col col-md-10">
            <div class="row main_row">
                <div class="col">
                    <h3>
                        <a href="{{ url_for('activitypub.post_ap', post_id=post.id) }}">{{ post.title }}</a>
                        {% if post.type == POST_TYPE_IMAGE %}<span class="fe fe-image"> </span>{% endif %}
                        {% if post.type == POST_TYPE_LINK and post.domain_id %}
                            {% if post.url and 'youtube.com' in post.url %}
                                <span class="fe fe-video"></span>
                            {% endif %}
                            <a href="{{ post.url }}" rel="nofollow ugc" target="_blank">
                                <img src="/static/images/external_link_black.svg" class="external_link_icon" alt="External link"  />
                            </a>
                            <span class="domain_link">(<a href="/d/{{ post.domain_id }}">{{ post.domain.name }}</a>)</span>
                        {% endif %}
                    </h3>
                    <span class="small">{{ render_username(post.author) }} · {{ moment(post.posted_at).fromNow() }}</span>
                {% if post.image_id %}
                    <div class="thumbnail">
                        <a href="{{ url_for('activitypub.post_ap', post_id=post.id) }}"><img src="{{ post.image.thumbnail_url() }}"
                                                                                             alt="{{ post.image.alt_text if post.image.alt_text else '' }}"
                                                                                             height="50" /></a>
                    </div>
                {% endif %}
                </div>

            </div>
            <div class="row utilities_row">
                <div class="col-6">
                    <a href="{{ url_for('activitypub.post_ap', post_id=post.id, _anchor='replies') }}"><span class="fe fe-reply"></span></a>
                    <a href="{{ url_for('activitypub.post_ap', post_id=post.id, _anchor='replies') }}">{{ post.reply_count }}</a>
                </div>
                <div class="col-2"><a href="{{ url_for('post.post_options', post_id=post.id) }}" rel="nofollow"><span class="fe fe-options" title="Options"> </span></a></div>
            </div>
        </div>
        <div class="col col-md-2">
            <div class="voting_buttons pt-2">
                {% include "post/_post_voting_buttons.html" %}
            </div>
        </div>
    </div>


</div>