{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<script src="/static/js/coolfieldset.js"></script>
<div class="row">
    <div class="col-12 col-md-8 position-relative add_reply main_pane">
        <fieldset class="coolfieldset mt-4"><legend class="w-auto">Original post</legend>
            <h3>{{ post.title }}</h3>
            {{ post.body_html | safe }}
        </fieldset>
        <fieldset class="coolfieldset mt-4"><legend class="w-auto">Comment you are replying to</legend>
        {{ comment.body_html | safe}}
        </fieldset>
        <div class="position-relative">
            {% if post.community.ap_id and '@beehaw.org' in post.community.ap_id %}
                <p>{{ _('This post is hosted on beehaw.org which has <a href="https://docs.beehaw.org/docs/core-principles/what-is-beehaw/" target="_blank" rel="nofollow">higher standards of behaviour than most places. Be nice</a>.') }}</p>
            {% endif %}
            {{ render_form(form) }}
            {% if markdown_editor %}
                <script nonce="{{ session['nonce'] }}">
                    window.addEventListener("load", function () {
                        var downarea = new DownArea({
                            elem: document.querySelector('#body'),
                            resize: DownArea.RESIZE_VERTICAL,
                            hide: ['heading', 'bold-italic'],
                        });
                        setupAutoResize('body');
                    });
                </script>
            {% endif %}
        </div>
    </div>
    <div class="col-12 col-md-4 side_pane">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        {% if current_user.is_authenticated and community_membership(current_user, post.community) %}
                            <a class="w-100 btn btn-primary" href="/community/{{ post.community.link() }}/unsubscribe">{{ _('Leave') }}</a>
                        {% else %}
                            <a class="w-100 btn btn-primary" href="/community/{{ post.community.link() }}/subscribe">{{ _('Join') }}</a>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <a class="w-100 btn btn-primary" href="/community/{{ post.community.link() }}/submit">{{ _('Create post') }}</a>
                    </div>
                </div>
                <!-- <form method="get">
                    <input type="search" name="search" class="form-control mt-2" placeholder="{{ _('Search this community') }}" />
                </form> -->
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('About community') }}</h2>
            </div>
            <div class="card-body">
                <p>{{ post.community.description_html|safe if post.community.description_html else '' }}</p>
                <p>{{ post.community.rules_html|safe if post.community.rules_html else '' }}</p>
                {% if len(mods) > 0 and not post.community.private_mods %}
                    <h3>Moderators</h3>
                    <ul class="moderator_list">
                        {% for mod in mods %}
                            <li><a href="/u/{{ mod.link() }}">{{ mod.display_name() }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% if is_moderator %}
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('Community Settings') }}</h2>
            </div>
            <div class="card-body">
                <p><a href="#" class="btn btn-primary">{{ _('Moderate') }}</a></p>
                <p><a href="#" class="btn btn-primary">{{ _('Settings') }}</a></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
