<p><a href="https://piefed.social/"><img src="https://piefed.social/static/images/logo2.png" style="max-width: 100%; margin-bottom: 20px;" width="50" height="50" alt="PieFed logo" /></a></p>
<p>Hello {{ first_name }} and welcome!</p>
<p>I'm Rimu, the founder of PieFed and I'd like to personally thank you for signing up.</p>
<p>As this software is still being developed I need your feedback and ideas for how to improve it. You will notice
broken things and missing functionality - please let me know what you find by replying to this email. Screenshots are
often very helpful.</p>
<p>If you are technically-minded, you can report issues in <a href="https://codeberg.org/rimu/pyfedi/issues">the Codeberg issue tracker</a>.
    If you are a Python developer and would like to contribute, <a href="https://join.piefed.social/">check out the
        project site for more information</a> or <a href="https://codeberg.org/rimu/pyfedi/">browse the code repository</a>.</p>
<!--
<p>I'd also like to give you the tools and information you need to get the most out of it. Let's get you up and running:</p>
<ol>
    <li>Helpful resources goes here</li>
</ol>
<p>I hope this helps. For more information please see <a href="https://piefed.social/faq.php">the FAQ</a> or ask me anything by replying to this email.</p>
-->
<p>Warm regards,</p>
<p>Rimu Atkinson<br />
Founder</p>
<p>&nbsp;</p>
<p><small><a href="https://piefed.social/members/unsubscribe/reminder/{{ user.id }}/0">Unsubscribe from PieFed newsletter</a></small></p>
