<nav class="mb-4">
    <a href="{{ url_for('admin.admin_home') }}">{{ _('Home') }}</a> |
    <a href="{{ url_for('admin.admin_site') }}">{{ _('Site profile') }}</a> |
    <a href="{{ url_for('admin.admin_misc') }}">{{ _('Misc settings') }}</a> |
    <a href="{{ url_for('admin.admin_communities') }}">{{ _('Communities') }}</a> |
    <a href="{{ url_for('admin.admin_topics') }}">{{ _('Topics') }}</a> |
    <a href="{{ url_for('admin.admin_users', local_remote='local') }}">{{ _('Users') }}</a> |
    <a href="{{ url_for('admin.admin_users_trash', local_remote='local') }}">{{ _('Watch') }}</a> |
    {% if site.registration_mode == 'RequireApplication' %}
        <a href="{{ url_for('admin.admin_approve_registrations') }}">{{ _('Registration applications') }}</a> |
    {% endif %}
    <a href="{{ url_for('admin.admin_reports') }}">{{ _('Moderation') }}</a> |
    <a href="{{ url_for('admin.admin_federation') }}">{{ _('Federation') }}</a> |
    <a href="{{ url_for('admin.newsletter') }}">{{ _('Newsletter') }}</a> |
    <a href="{{ url_for('admin.admin_activities') }}">{{ _('Activities') }}</a>
</nav>
