<nav class="mb-4">
    <a href="{{ url_for('admin.admin_home') }}">{{ _('Home') }}</a> |
    <a href="{{ url_for('admin.admin_site') }}">{{ _('Site profile') }}</a> |
    <a href="{{ url_for('admin.admin_misc') }}">{{ _('Misc settings') }}</a> |
    <a href="{{ url_for('admin.admin_communities') }}">{{ _('Communities') }}</a> |
    <a href="{{ url_for('admin.admin_users') }}">{{ _('Users') }}</a> |
    <a href="{{ url_for('admin.admin_federation') }}">{{ _('Federation') }}</a> |
    <a href="{{ url_for('admin.admin_activities') }}">{{ _('Activities') }}</a>
</nav>
