{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <tr>
               <th>When</th>
               <th>Direction</th>
               <th>ID</th>
               <th>Type</th>
               <th>Result</th>
               <th>Message</th>
               <th>JSON</th>
            </tr>
            {% for activity in activities.items %}
                <tr>
                    <td>{{ moment(activity.created_at).fromNow() }}</td>
                    <td>{{ activity.direction }}</td>
                    <td>{{ activity.activity_id }}</td>
                    <td>{{ activity.activity_type if activity.activity_type else ''  }}</td>
                    {% if activity.result == 'success' %}
                        <td><span style="color: green;">{{ activity.result }}</span></td>
                    {% elif activity.result == 'ignored' %}
                        <td><span style="color: orange;">{{ activity.result }}</span></td>
                    {% else %}
                        <td><span style="color: red;">{{ activity.result }}</span></td>
                    {% endif %}
                    <td>{{ activity.exception_message if activity.exception_message else '' }}</td>
                    <td><a href="{{ url_for('admin.activity_json', activity_id=activity.id) }}">View</a></td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel="nofollow">
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary">
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </div>
</div>
{% endblock %}