{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>{{ _('Most downvoted in the last 3 days') }}</h1>
        <div class="post_list">
            {% for post in posts.items %}
                {% include 'post/_post_teaser.html' %}
            {% endfor %}
        </div>
        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary">
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary">
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </div>
</div>
{% endblock %}