{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %} %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
        <div class="row">
            <div class="col mx-auto">
                <div class="card mt-5">
                    <div class="card-body p-6">
                        <div class="card-title">{{ _('Search for posts') }}</div>
                        <form action="" method="get" class="form" role="form">
                            <div class="form-group required"><label class="form-control-label visually-hidden" for="search_term" aria-label="Search here">Search</label>
                                <input autofocus="" class="form-control" id="search_term" name="q" required="" type="search" value="">
                            </div>
                            <input class="btn btn-primary btn-md" id="submit" name="submit" type="submit" value="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
