@media (prefers-color-scheme: dark) {
  body {
    background-color: #f7f7f7;
  }

  body nav.navbar {
    background-color: #f7f7f7 !important;
  }

  .card {
    background-color: #f7f7f7;
  }

  .form-control, .dark-form-control {
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
  }

  .form-control::placeholder {
    color: #FCFDFD;
  }

  .dropdown-menu {
    background-color: #D3D7CF;
  }

  .table td {
    border-top-color: #2D3848;
  }

}