/* for more info about the feather font used for icons see https://at-ui.github.io/feather-font/ */
/* use https://fontdrop.info/ to get the unicode values of the featuer.ttf file */
@font-face {
  font-family: 'Feather';
  src: url('/static/fonts/feather/feather.ttf?cb') format('truetype'),
  url('/static/fonts/feather/feather.woff?cb') format('woff'),
  url('/static/fonts/feather/feather.svg?cb#Feather') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fe {
  font-family: 'Feather' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-item .fe {
  padding-right: 5px;
}

.fe-subscription::before {
  content: "\e9b9";
}

.fe-logout::before {
  content: "\e988";
}

.fe-fb::before {
  content: "\E95E";
}

.fe-close::before {
  content: "\ea03";
}

.fe-circle::before {
  content: "\e937";
}

.fe-activity::before {
  content: "\e900";
}

.fe-copy::before {
  content: "\e944";
}

.fe-edit::before {
  content: "\e958";
}

.fe-plus::before {
    content: "\e9b1";
}

.fe-wind::before {
    content: "\ea01";
}

.fe-refresh-cw::before {
    content: "\e9b9";
}

.fe-x-circle::before {
  content: "\ea03";
}

.fe-printer::before {
    content: "\e9b6";
}

.fe-search::before {
    content: "\e9c1";
}

.fe-check::before {
    content: "\e92b";
}

.fe-user::before {
    content: "\e9f1";
}

.fe-heart::before {
    content: "\e977";
}

.fe-message-circle::before {
    content: "\e990";
}

.fe-settings::before {
    content: "\e9c4";
}

.fe-calendar::before {
  content: "\e927";
}

.fe-facebook::before {
  content: "\e95e";
}

.fe-share::before {
  content: "\e9c2";
}

.fe-chevron-up::before {
  content: "\e931";
}

.fe-chevron-down::before {
  content: "\e92e";
}

.fe-feather::before {
  content: "\e960";
}

.fe-mobile::before {
  content: "\e9d2";
}

.fe-loader::before {
  content: "\e986";
}

.fe-sun::before {
  content: "\e9d7";
}

.fe-arrow-up::before {
  content: "\e914";
}

.fe-arrow-down::before {
  content: "\e90c";
}

.fe-reply {
  position: relative;
  top: 1px;
}

.fe-reply::before {
  content: "\e990";
}

.fe-report::before {
  content: "\e967";
}

.fe-angles-down::before {
  content: "\e932";
}

.fe-angles-up::before {
  content: "\e935";
}

.fe-options::before {
  content: "\e99b";
}

.fe-edit::before {
  content: "\e95a";
}

.fe-delete::before {
  content: "\ea03";
}

.fe-report::before {
  content: "\e967";
}

.fe-bell::before {
  content: "\e91e";
}

.fe-image {
  position: relative;
  top: 2px;

  &:before {
    content: "\e97a";
  }
}

.fe-new-account {
  position: relative;
  top: 1px;
  &:before {
    content: "\e986";
  }
}

.fe-video {
  position: relative;
  top: 2px;
  left: 1px;
  &:before {
    content: "\ea05";
  }
}

.fe-poll {
  position: relative;
  top: 2px;
  left: 1px;
  &:before {
    content: "\e91b"; /* possibly e985 */
  }
}

a.no-underline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

$small_text: 87%;

.small, small {
  font-size: $small_text;
}

fieldset legend {
  font-size: inherit;
}

