.easy-markdown{
    position: absolute;
    display: block;
    left:0;
    top:0;
    width: 100%;
    webkit-transition: left 0.7s ease-in-out 0.1s;
    -moz-transition  : left 0.7s ease-in-out 0.1s;
    -ms-transition   : left 0.7s ease-in-out 0.1s;
    -o-transition    : left 0.7s ease-in-out 0.1s;
    transition       : left 0.7s ease-in-out 0.1s;
}
.easy-preview{
    position: absolute;
    display: block;
    top:0;
    left: 100%;
    width: 100%;

    webkit-transition: left 0.7s ease-in-out 0.1s;
    -moz-transition  : left 0.7s ease-in-out 0.1s;
    -ms-transition   : left 0.7s ease-in-out 0.1s;
    -o-transition    : left 0.7s ease-in-out 0.1s;
    transition       : left 0.7s ease-in-out 0.1s;
}
.easy-markdown.is-hidden{
    left:-105%;
}
.easy-preview.is-visible{
    left:0;
}