{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
{% if len(topics) > 0 %}
    <h1>{{ _('Choose a topic') }}</h1>
    <div class="table-responsive-md mt-4">
        <table class="communities_table table table-striped table-hover w-100">
            <tbody>
                {% for topic in topics %}
                    <tr>
                        <th class="pl-2"><a href="/topic/{{ topic.machine_name }}">{{ topic.name }}</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<p>{{ _('There are no communities yet.') }}</p>
{% endif %}
<p><a href="/communities" class="btn btn-primary">{{ _('Explore communities') }}</a></p>
{% endblock %}
